@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #e7eaee;
}

.main {
    margin: 4rem 8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

div {
    border-radius: 8px;
}

h2 {
    font-size: 20px;
    margin: 1rem 0;
}

.main .three-col {
    grid-column: span 3;
    width: 100%;
}

.main .three-col .top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.main .three-col .top .first {
    background-color: #7541c8;
    color: #fff;
    grid-column: span 2;
    padding: 1.5rem;
    box-shadow: 20px 40px 30px rgba(0, 0, 0, 0.16);
}
.main .three-col .top .last {
    background-color: #48556a;
    color: #fff;
    grid-column: span 1;
    padding: 1.5rem;
    box-shadow: 20px 40px 30px rgba(0, 0, 0, 0.16);
}

.main .three-col .bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.main .three-col .bottom .first {
    background-color: #fff;
    grid-column: span 1;
    padding: 1.5rem;
    box-shadow: 20px 40px 30px rgba(0, 0, 0, 0.16);
}
.main .three-col .bottom .last {
    background-color: #19212e;
    color: #fff;
    grid-column: span 2;
    padding: 1.5rem;
    box-shadow: 20px 40px 30px rgba(0, 0, 0, 0.16);
}

.main .one-col {
    background-color: #fff;
    grid-column: span 1;
    padding: 1.5rem;
    box-shadow: 20px 40px 30px rgba(0, 0, 0, 0.16);
}

.avatar {
    display: flex;
    gap: 1rem;
}

.avatar h3 {
    font-size: 18px;
    margin: 0;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }